<h1>Iniciar Session</h1>

<form action="/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>

    <br>

    <input type="submit" value="Iniciar Sesion">
</form>
<br>
<h6><i><a href="/views/reminder">Olvidé mi contraseña</a></i></h6>
<br>
<div>
    <a href="/session/github"><button>Entrar con Github</button></a>
</div>